body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('../images/day1_bg.webp') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  header {
    background-color: transparent;
    color: #ffdf00;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #ffdf00;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
  }
  
  p {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .weiterlesen {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .weiterlesen:hover {
    background-color: #ffdf00;
    color: #333;
  }
  
  .hidden {
    display: none;
  }
  
  #weiterlesen-content {
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  a {
    color: #ffdf00;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  a:hover {
    background: #ffdf00;
    color: #333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }

  .evidence {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
    border: 2px solid #ffdf00;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  